.anim {
  position: relative;
  display: inline-block;

  &.anim--line {
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: transparent;
      transition: left 0.3s cubic-bezier(0.69, 0, 0, 1) 0s, width 0.3s cubic-bezier(0.69, 0, 0, 1) 0s, background 0.3s cubic-bezier(0.69, 0, 0, 1) 0s;
    }

    &:hover,
    &:focus {
      &:after {
        background: $primary-green;
        width: 100%;
      }
    }

  }
}
