//***************************** TABLE OF CONTENTS *****************************/
//
//  1. Transitions
//    1.1 Cubic-bezier transition
//    1.2 Color & Background transition
//    1.3 Subnav transition transition
//  2. 16pt 'grid' system
//
//*****************************************************************************/

// 1. Transitions
// --------------

// 1.1 Cubic-bezier transition
$transition-cubic: cubic-bezier(0.69, 0, 0, 1);

// 1.2 Color & Background transition
$transition-c: color .3s ease 0s;
$transition-bg: background .3s ease 0s;
$transition-cbg: color .3s ease 0s, background .3s ease 0s;

// 2. 16pt 'grid' system
// ABOUT:
// https://medium.com/@dave_poore/why-we-went-with-a-16-point-grid-system-3e558d6be163#
// https://medium.com/built-to-adapt/intro-to-the-8-point-grid-system-d2573cde8632
// https://spec.fm/specifics/8-pt-grid
// https://material.io/guidelines/layout/metrics-keylines.html#metrics-keylines-baseline-grids
// http://harmony.intuit.com/grid/
// ---------------------
$pgs-xs:   rem-calc(4);
$pgs-s:    rem-calc(8);
$pgs-m:    rem-calc(16);
$pgs-l:    rem-calc(32);
$pgs-xl:   rem-calc(48);
$pgs-xxl:  rem-calc(64);

// 3. About
// ----------

// 3.1 About about
$about-width-collapsed:          64px;
$about-width-expanded:           320px;
$about-is-collapsed-class:       'container--is-collapsed';
$about-is-transitionend-class:   'container--is-transitionend';

// 4. Contact
// ----------

// 4.1 Icons
$icon-px:    40px;
$icon-size:  rem-calc(40);

// 4.2 Icons transform calc - IE11 'polyfill' for not supported calc inside translate3d;
$btn-collapse-medium:  $about-width-expanded - $icon-px;

// 5. Showcase
// -----------
$showcase-is-open-class:         'container--is-showcase-open';
