// 1. Container
// ------------
.container {
  position: relative;
  overflow: hidden;

  // 1.1 Container - res small
  // -------------------------
  @include breakpoint(small down){
    width: 100%;
    height: 100vh;
    max-width: 100vw;
  }

  // 1.2 Container wrapper
  // ---------------------
  .container__wrapper {

    // 1.2.1 Container wrapper - res small
    @include breakpoint(small down){
      position: relative;
      transform: translate3d(0,0,0);
      transition: transform .3s $transition-cubic 0s;
    }

  }

  // 1.3 Container Inner
  // -------------------
  .container__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    align-content: space-between;

    // 1.3.1 Container inner - res small
    @include breakpoint(medium){
      width: $about-width-expanded;
      height: 100%;
      max-height: 100vh;
      background: $wrapper-bg;
      position: fixed;
      top: 0;
      left: 0;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 30;
      transition: all .3s $transition-cubic 0s;
    }

  }

  // 1.4 Container About
  // -------------------
  .container__about {
    width: 100%;
    height: 100vh;
    background: $wrapper-bg;

    // 1.4.1 Container About - res small
    @include breakpoint(small down){
      position: absolute;
      top: 0;
      left: 0;
      overflow-y: auto;
      overflow-x: hidden;
      transform: translate3d(-100%, 0, 0);
      transition: transform .3s $transition-cubic 0s;
      z-index: 30;
    }

    // 1.4.2 Container About - res medium or higher
    @include breakpoint(medium){
      width: $about-width-expanded;
      float: left;
      height: 100%;
      max-height: 100vh;
      position: relative;
      transition: width .3s $transition-cubic 0s;
    }

  }

  // 1.5 Container Portfolio
  // -----------------------
  .container__portfolio {
    width: 100%;
    height: 100vh;
    position: relative;

    // 1.5.1 Container Portfolio - res small
    @include breakpoint(small down){
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 10;
    }

    // 1.5.2 Container Portfolio - res medium or higher
    @include breakpoint(medium){
      float: right;
      width: calc(100% - #{$about-width-expanded});
      transition: width .3s $transition-cubic 0s;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }

  }

// 2. Container with active 'collapsed' modifier
// ---------------------------------------------
  &.#{$about-is-collapsed-class} {

    // 2.1 COLLAPSED: About container
    // ------------------------------
    .container__about {
      // 2.1.1 COLLAPSED: About container - res small
      @include breakpoint(small down){
        transform: translate3d(0, 0, 0);
      }

      // 2.1.2 COLLAPSED: About container - res medium or higher
      @include breakpoint(medium){
        width: $about-width-collapsed;
      }

    }

    // 2.2 COLLAPSED: Portfolio container
    // ----------------------------------
    .container__portfolio {
      @include breakpoint(medium){
        // @TODO: change width to translate;
        width: calc(100% - #{$about-width-collapsed});
      }
    }

    // 2.3 COLLAPSED: Inner container
    // ------------------------------
    .container__inner {
      @include breakpoint(medium){
        width: $about-width-collapsed;
        height: calc(100% - #{$icon-px});
        margin-top: $icon-size;
      }
    }

  }

}
